.d-block {
    height: 23rem;
}

.carousel-caption {
    bottom: auto;
}

.rating-container {
    display: inline;
    font-size: 3rem;
}

.weather-container {
    display: flex;
    justify-content: center;
}

.weather-item {
    margin: 20px;
}

.weather-item i {
    font-size: 3rem;
}

.currency-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.currency-item { 
    margin: 20px;
}

.currency-item-athome { 
   text-decoration: underline;
}