/* Card Carousel Overrides */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

.carousel-caption {
    left: auto;
    right: auto;
    bottom: auto;
    padding: 1.25rem 5rem 1.25rem 5rem;
    width: 100%;
    z-index:1;
}

.d-block {
    height: 23rem;
}

.opacity-container {
    background: black;
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    opacity: 0.4;
}

.rating-container {
    display: inline;
    font-size: 3rem;
    bottom: 10px;
    position: relative;
}

.weather-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.weather-item {
    margin: 0px 20px 0px 20px;
}

.weather-item i {
    font-size: 3rem;
}

.currency-container {
    justify-content: center;
    text-align: center;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}