
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.card-title.h5 {
  user-select: none;
  padding-top:50%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-text {
  user-select: none;
}

.card-header {
  transition: background-color 0.75s ease-in-out;
  text-align: left;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */
 
.card-icon-top{
  float: right;
  margin-top: -5px;
}

