
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.destination-card-title {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  user-select: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-text {
  user-select: none;
}

.card-header {
  font-size: 0.75em;
  transition: background-color 0.75s ease-in-out;
  text-align: left;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */
 
.card-icon-top{
  float: right;
  margin-top: -5px;
}

.landmark-title {
  color: white;
}

.card-img{
  /* height: 10vh; */
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  font-size: 1em;
}

@media screen and (max-width: 800px) {
  .card-body  {
    margin-left: 0px;
  }

  .card-header {
    font-size: 0.5em;
  }
}
