.sidebar {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 15px;
    overflow: auto;
}

.nav-item{
    padding: 10px;
}




/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */