.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar  {
  position: absolute;
  top: 0;
  font-size: 32px;
}

@media screen and (max-width: 900px) {
  .sidebar {
    margin-left: 50px;
  }
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  margin:20px;
  z-index: 1;
}

.nav-item {
  display: grid;
  grid-column: auto 1fr;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor:pointer;
}

.closebtn {
  grid-column: 2;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .sidebar  {
    margin-left: 0px;
  }
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */
